@tailwind base;
@tailwind components;
@tailwind utilities;

html,body
{
    font-family: 'Nunito', sans-serif;
    background-color: #ccccff;
}

.menu a
{
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
    background-color: orange;
}
